a { 
  text-decoration: none;
}

::-webkit-scrollbar { width: 8px; height: 2px;}
::-webkit-scrollbar-button {  background-color: rgba(11, 0, 39, 0.966); }
::-webkit-scrollbar-track-piece { background-color: rgba(11, 0, 39, 0.966);}
::-webkit-scrollbar-thumb { height: 50px; background-color: #ff00b3ef; border-radius: 7px; -webkit-border-radius: 7px; -moz-border-radius: 7px; -ms-border-radius: 7px; -o-border-radius: 7px; }
::-webkit-resizer { background-color: rgb(231, 14, 14);}
.fp-section.fp-table, .fp-slide.fp-table{
  width:100vw;
  height: 100vh;
}
.myCanvas
{
  height: 100vh;
  width:100vw;
  position: fixed;
  z-index: -1;
  bottom: 0;
  right: 0;
  left:0;
  background: black;
  transform: rotate(180deg);
  background:black url(https://s.cdpn.io/16327/texture_bg.jpg) no-repeat 100% 0px;
}

.css-radio {
  height: 25px;
  width: 25px;
  margin: 25px;
  cursor: pointer;
}

  /* .option:before {
    cursor: pointer;
    content: "";
    display: inline-block;
    width: 26px;
    z-index: 99;
    height: 25px;
    margin-right: 10px;
    background-color: rgb(84, 84, 85);
    border-radius: 50%;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
    vertical-align: inherit;
  }
    
  .css-radio:checked + .option::before {
      background-color: #fd04e8; 
  }*/
  
.calc-img{
  width:150px;
  height:150px;
  padding-top:30px;
  margin:15px;
}
.checkbox-label{
  padding:30px;
  width:200px;
  text-align: center;
}
#main-shahta{
  display: flex;
  justify-content: flex-end;
  width:50%;
}
.colbs{
  width:200px;
  height: 200px;
}
#shahta-img{
 position: relative;
 width:300px;
 height: 400px;
}
.new-kolba{
  width: 200px;
  height: 200px;
  position: absolute;
  margin-top: -160px;
  margin-left:47px;
}
#first-fieldset{
  
  text-align: center;
  padding-top:50px;
}
fieldset{
  margin-top: 20px;
}
#kolbs{
  display:flex;
  margin-top:-20%;
}
.kolbs-img{
  width:200px;
  height: 200px;
  display: flex;
  flex-basis: 50%;
}

.total_price{
  width:90%;
  display: flex;
  justify-content: flex-end;
  font-size:40px;
  color: whitesmoke;
}
#form-text{
    display: flex;
    justify-content: center;
    font-weight: bold;
    width: 100%;
    font-size: 45px;
    color:rgb(248, 10, 177);
}
.form-question{
  padding:5px;
  font-size:40px;
  margin-top:20px;
  color:whitesmoke;
}
.label-form{
  padding:20px;
  display: flex;
  font-size:25px;
  color:whitesmoke;
}
.option{
    padding-top:20px;
    margin-left:20px;
    font-size: 35px;
    width:20%;
    color: whitesmoke;
    z-index: 9;
}
#option{
    display: flex;
    padding-top: 20px;
    font-size: 35px;
    width: 99%;
    color: whitesmoke;
    justify-content: space-between;
}
.tabac{
  padding:5px;
}
#tabac{
  display:flex;
  justify-content: space-between;
  width:98%;
}
#shahta-items{
  width: 300px;
}
.form-second-question{
  margin-top:100px;
  margin-left:100px;
  font-size:38px;
  width:100%;
  color:whitesmoke;
}
.calc-img-chasha{
  margin-left: 40px;
  margin-top: 20px;
}
.calc-handler{
  width:26px;
  height: 26px;
  margin-top:20px;
}
.glina{
  background: url('../img/glina.jpg') no-repeat;
  background-size:cover;
  width:100px;
  height: 100px;
}
.orange{
  background: url('../img/orange.png') no-repeat;
  background-size:cover;
  width:100px;
  height: 100px;
}
.pineapple{
  background: url('../img/pineapple.jpg') no-repeat;
  background-size:cover;
  width:100px;
  height: 100px;
}
.new-chasha{
  transform: rotateX(45deg);
    width: 100px;
    height: 100px;
    position: absolute;
    margin-top: -36px;
    margin-left: 102px;
    z-index: 9;
}
#header{
font-family: 'Roboto', medium;
top:0;
font-weight: 500;
background:rgba(11, 0, 39, 0.966);
height: 90px;
margin: 0 auto;
position: fixed;
width: 100%;
z-index: 10;
}
#main-nav{
  padding:35px;
  width: 90%;
  font-size:17px;
  display:flex;
  align-content: center;
  align-items: stretch; 
  justify-content: space-between;

}
.main-nav-links{
 
  color: rgba(241, 240, 240, 0.9);
}
.main-nav-links:hover{
  transition: 0.1s;
  font-size: 18px;
  font-weight: bold;
  color: rgba(248, 12, 217, 0.932);
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
}
.main-nav-bar{
  width:100px;
  display:flex;
  justify-content: space-between;
}
.icon{
  
  font-size:22px;
  color: rgba(241, 240, 240, 0.9);
}
.icon:hover{
  transition: 0.1s;
  color: #ff00b3ef;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
}
#nav-img{
margin-top:-20px;
}
#logo-img{
width:100px; 
height:78px;
margin-top:-13px;
}


#main-article{
display:flex;
width:100%;
flex-direction: column;
background: none;
} 

#main-movie{
  margin-top:-18px;
  width:100%;
  height: auto;
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  background: url(/img/backroundvideo.JPG) no-repeat ;
  background-size: cover;
}

#main-movie> video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto;
  height: auto; 
}

.article-text{
  align-content: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  z-index: 1;
  width: 100%;
  text-align: center;
}
.first-text{
font-family:  'Roboto', sans-serif;
margin-top:100px;
font-size:50px;
line-height: 2;
font-weight: 700;
color: rgba(228, 222, 222, 0.9);
}
.second-text{
font-family:  'Roboto', sans-serif;
font-size:40px;
font-weight: 300;
color: #ff00b3ef;
}
.third-text{
font-family:  'Roboto', sans-serif;
font-size:30px;
font-style:oblique;
font-weight: 100;
color: rgba(228, 222, 222, 0.8);
}
.promo{
display: flex;
padding-top:100px;
}
#first-promo{
margin-left:-100px;
width:42%;
z-index: 1;
}
.proposition{z-index: 1;display: flex;flex-direction: column;justify-content:  center;width:99%;margin-left:20%;text-align: center;line-height: 60px;color: rgba(228, 222, 222, 0.938);}
#discount{
width:100%;
display: flex;
flex-direction: column;
}
#second-promo{
padding:20px;
display: flex;
align-self: flex-start;
width: 550px;
height:250px;
z-index: 1;
}
#birthday-promo{
  margin-top:-70px;
  width: 600px;
  height:200px;
  z-index: 1;
  display: flex;
  align-self: center;
}
#main-promo{
  margin-top:-70px;
  width: 550px;
  height:300px;
  z-index: 1;
  display: flex;
  align-self: flex-end;
}
#about-us{
display: flex;
flex-direction: column;
justify-content:center ;
width:98%;
z-index: 1;
}
.about-main-text{
padding-top:50px;
text-align: center;
width:100%;
color: #ff00b3ef;
font-family: 'Roboto', sans-serif;
font-size:38px;
font-weight: bold;
z-index: 1;
}
.about-text{
margin-top:25px;
line-height: 45px;
display: flex;
justify-content: center;
width:100%;
color: rgba(41, 255, 244, 0.904);
font-family: 'Roboto', sans-serif;
font-size:30px;
font-style:bold;
font-weight: 100;
z-index: 1;
}
#contact{
padding-top:150px;
background: black;
display: flex;
flex-direction: column;
z-index: 9;
height: 100vh;
}
#main-page{
  display: block;
   z-index: 9;
}
#contact-text{
text-align: center;
font-family: 'Roboto', sans-serif;
font-size:55px;
font-weight: 300;
color: #ff00b3ef;
z-index: 1;
}
#contact-us{

width:100%;
padding-top:50px;
background: black;
display: flex;
justify-content: space-between;
z-index: 1;
}
#contact-info{
display: flex;
line-height: 50px;
flex-wrap: wrap;
flex-basis: 50%;
justify-content: flex-start;
z-index: 9;
}
.icon1{
flex-basis: 100%;
font-size:50px;
color: rgba(255, 248, 248, 0.973);
z-index: 1;
}
.icon1:hover{
transition: 0.3s;
font-size:55px;
color: #ff00b3ef;
}
#smoke-block{
  width: 50%;
  overflow: hidden;
  justify-content: start;
  text-align: center;
  margin-top:-180px;
  padding:20px;
  color: transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
}
.smoke{
  margin:5px;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size:30px;
  font-weight: 500;
  color: rgba(27, 255, 244, 0.082);
  text-shadow: 0 0 0 whitesmoke;
  z-index: 1;
}
.block:hover span {
  -webkit-animation:smoky 10s both;
  animation:smoky 10s both;
}
  
 .block:hover span :nth-child(even){
  -webkit-animation-name: smoky-mirror;
  animation-name: smoky-mirror;
 }
.button {
  padding: 22px 47px;
  background-color: #00ff00;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#dc7522), to(#ff973b));
  background-image: linear-gradient(0deg, #dc7522 0%, #ff973b 100%);
  border-radius: 5px;
  font-size: 26px;
  line-height: 1.2;
  font-weight: 900;
  color: #ffffff;
}



@-webkit-keyframes smoky {
  40% {
  text-shadow: 0 0 40px whitesmoke;
  }
  to {
  -webkit-transform: translate3d(15rem, -8rem, 0) rotate(-40deg) skewX(70deg) scale(1.5);
  transform: translate3d(15rem, -8rem, 0) rotate(-40deg) skewX(70deg) scale(1.5);
  text-shadow: 0 0 20px whitesmoke;
  opacity: 0;
  }
 }
  
 @keyframes smoky {
  40% {
  text-shadow: 0 0 40px whitesmoke;
  }
  to {
  -webkit-transform: translate3d(15rem, -8rem, 0) rotate(-40deg) skewX(70deg) scale(1.5);
  transform: translate3d(15rem, -8rem, 0) rotate(-40deg) skewX(70deg) scale(1.5);
  text-shadow: 0 0 20px whitesmoke;
  opacity: 0;
  }
 }
 
 @-webkit-keyframes smoky-mirror {
  60% {
  text-shadow: 0 0 40px whitesmoke;
  }
  to {
  -webkit-transform: translate3d(18rem, -8rem, 0) rotate(-40deg) skewX(-70deg) scale(2);
  transform: translate3d(18rem, -8rem, 0) rotate(-40deg) skewX(-70deg) scale(2);
  text-shadow: 0 0 20px whitesmoke;
  opacity: 0;
  }
 }
 @keyframes smoky-mirror {
  60% {
  text-shadow: 0 0 40px whitesmoke;
  }
  to {
  -webkit-transform: translate3d(18rem, -8rem, 0) rotate(-40deg) skewX(-70deg) scale(2);
  transform: translate3d(18rem, -8rem, 0) rotate(-40deg) skewX(-70deg) scale(2);
  text-shadow: 0 0 20px whitesmoke;
  opacity: 0;
  }
 }
 .block span:nth-of-type(1) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
 }
  
 .block span:nth-of-type(2) {
  -webkit-animation-delay: 1.3s;
  animation-delay: 1.3s;
 }
  
 .block span:nth-of-type(3) {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
 }
  
 .block span:nth-of-type(4) {
  -webkit-animation-delay: 1.6s;
  animation-delay: 1.6s;
 }
  
 .block span:nth-of-type(5) {
  -webkit-animation-delay: 1.8s;
  animation-delay: 1.8s;
 }
  
 .block span:nth-of-type(6) {
  -webkit-animation-delay: 1.9s;
  animation-delay: 1.9s;
 }
  
 .block span:nth-of-type(7) {
  -webkit-animation-delay: 2.1s;
  animation-delay: 2.1s;
 }
  
 .block span:nth-of-type(8) {
  -webkit-animation-delay: 2.27s;
  animation-delay: 2.27s;
 }
  
 .block span:nth-of-type(9) {
  -webkit-animation-delay: 2.37s;
  animation-delay: 2.37s;
 }
  
 .block span:nth-of-type(10) {
  -webkit-animation-delay: 2.5;
  animation-delay: 2.5s;
 }
  
 .block span:nth-of-type(11) {
  -webkit-animation-delay: 2.7s;
  animation-delay: 2.8s;
 }
  
 .block span:nth-of-type(12) {
  -webkit-animation-delay: 2.9s;
  animation-delay: 2.9s;
 }
  
 .block span:nth-of-type(13) {
  -webkit-animation-delay: 3.1s;
  animation-delay: 3.1s;
 }
  
 .block span:nth-of-type(14) {
  -webkit-animation-delay: 3.2s;
  animation-delay: 3.2s;
 }
  
 .block span:nth-of-type(15) {
  -webkit-animation-delay: 3.3s;
  animation-delay: 3.3s;
 }
  
 .block span:nth-of-type(16) {
  -webkit-animation-delay: 3.4s;
  animation-delay: 3.4s;
 }
  

 
  

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0,-50%,0);
    transform: translate3d(0,-50%,0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0,-50%,0);
    transform: translate3d(0,-50%,0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.colbWater {
  background: url('../img/watershisha-removebg-preview.png') no-repeat;
  background-size:cover;
  width: 198px;
  height: 190px;
}
.colbMilk {
  background: url('../img/milkshisha-removebg-preview.png') no-repeat;
  background-size:cover;
  width: 204px;
  height: 190px;
}
.colbAlk {
  background: url('../img/alcoshisha-removebg-preview.png') no-repeat;
  background-size:cover;
  width: 198px;
  height: 195px;
}
.border-colbs-header {
  border-bottom: 4px solid rgb(27, 255, 244);
  padding: 2px;
  transition: 0.3s ease-in;
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -ms-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
}
.border-chasha-header {
  border-bottom: 4px solid rgb(27, 255, 244);
  padding: 2px;
  transition: 0.3s ease-in;
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -ms-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
}