section{
  position: absolute;
  width:100%;
  height: 100%;
  bottom:0;
  top:0;
  left:0;
  right: 0;
}
#fullpage{
  width:100%;
  min-width: 300px;
  min-height: auto;
  top: 0;
  bottom: 0;
  left:0;
  right: 0;
  overflow: hidden;
  z-index: 0;
}
a { 
  text-decoration: none;
}
body{
  font-family: 'Roboto';
  width: 100%;
 height: 100vh;
  height: auto;

 
}
::-webkit-scrollbar { width: 8px; height: 2px;}
::-webkit-scrollbar-button {  background-color: rgba(11, 0, 39, 0.966); }
::-webkit-scrollbar-track-piece { background-color: rgba(11, 0, 39, 0.966);}
::-webkit-scrollbar-thumb { height: 50px; background-color: rgb(139, 2, 250); border-radius: 7px; -webkit-border-radius: 7px; -moz-border-radius: 7px; -ms-border-radius: 7px; -o-border-radius: 7px; }
::-webkit-resizer { background-color: rgb(231, 14, 14);}
.fp-section.fp-table, .fp-slide.fp-table{
  width:100%;
 
}
.popup {
	position: absolute;
	height:100%;
	width:100%;
	top:0;
	left:0;
	display:none;
	text-align:center;
}
label{
  font-family: 'Roboto';
}

.popup_bg {
	background:rgba(0, 0, 0, 0.9);
	position:absolute;
	z-index:1;
	height:100%;
	width:100%;
}
.popup .cl-btn-3{
  position: absolute;
  color:black;
  opacity: 1;
  z-index: 10;
  margin-left: 79%;
  margin-top: 3%;
}

.popup_img {
	position: relative;
	z-index:2;
	width:700px;
	height:430px;
	max-height:94%;
	max-width:94%;
	margin-top: 4%;
}
.canvas{
  position: fixed;
  top: 0;
  width: 100%;
  bottom: 0;
  
  overflow: hidden;
  z-index: -1;
}
.myCanvas
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  background-size: cover;
  height: 100%; 
  background: black;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  background:black url('../img/canvas-bg.png') no-repeat;
}


.css-radio-2{
  height: 25px;
  width: 25px;

  cursor: pointer;
}

.calc-img{
  width:70px;
  height:70px;
  margin-top:5px;
  margin-left: 40px;
}
.checkbox-label{
  display: flex;
  justify-content: space-between;
  width: 20%;
}
#main-shahta{
  position: absolute;
  right: 20%;
  top: 40%;
}

#shahta-img{
 width: 100px;
 height: 250px;
 object-fit: cover;
}
.second-shahta{
  display: none;
  width: 160px !important;
  height: 300px !important;
  margin-top: -25px;
}
.third-shahta{
  display: none;
}
.new-kolba{
  width: 200px;
  height: 200px;
  position: absolute;
  margin-top: -155px;
  margin-left: 47px;
}
#first-fieldset{
  
display: flex;
  z-index: 1;
width:100%;
height: 100%;

}
fieldset{
  padding-top: 20px;
}
.kolbs{
  margin-top:-265px;
  width: 100%;
}
.kolbs-img{
  width:200px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.total_price{
  width: 100%;
  justify-content: center;
  display: flex;
  position: absolute;
  bottom: 15px;
}
.total_price_sum{
  font-size: 20px;
  position: absolute;
  margin-left: -50px;
  font-family: 'Roboto';
  color: whitesmoke;
}

.form-text{
  text-align: center;
  padding-top: 6%;
  width: 100%;
  font-size: 36px;
  color:whitesmoke;
  font-weight: bold;
  font-family: 'Golos';
  z-index: 1;
}
.form-calculate{
  width: 100%;
  
}

.form-text-2{
  text-align: center;
  padding-top:50px;
  width: 100%;
  font-size: 20px;
  color:whitesmoke;
  font-weight: bold;
  font-family: 'Golos';
  z-index: 1;
}
.label-form{
  padding:10px;
  color:whitesmoke;
  width: 40%;
  flex-direction: column;
  display: flex;
  align-items: center;
  width: 25%;
}
.option{
    padding-top:20px;
    font-size: 34px;
    width: 28%;
    color: whitesmoke;
    z-index: 9;
    letter-spacing: 3px;
    font-style: italic;
    font-family: 'Roboto';
  
}
#option-block{
    justify-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    /* display: flex; */
    margin-top: 30px;
    font-size: 35px;
    width: 100%;
    color: whitesmoke;
}
.tabac-wrap{
  display:-webkit-box;
  padding-top: 10px;
  display:-ms-flexbox;
  display:flex;
  justify-content: space-between;
}


.option-radio2-active {
  border-bottom: 4px solid rgb(139, 2, 250) ;
}

#tabac{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  flex-direction: column;
  width: 98%;
  margin-top: -260px;
  align-items: center;
}
#shahta-items{
  display: flex;
  position: absolute;
  left: 0;
}
.shishaItem{
  width: 100%;
  height: 100%;
  padding-top:100px;
}
.form-second-question{
  padding-left: 50px;
  font-size: 20px;
  color:whitesmoke;
  font-weight: bold;
  font-family: 'Golos';
  z-index: 1;
}
.form-third-question{
  position: absolute;
  right: 10%;
  font-size: 20px;
  color:whitesmoke;
  font-weight: bold;
  font-family: 'Golos';
  z-index: 1;
}
.q-3{padding-top: 180px;}
.calc-img-chasha{
 
  margin-top: 10px;
  height: 70px;
  width: 70px;
  cursor: pointer;
}

.glina{
  background: url('../img/glina.jpg') no-repeat;
  background-size:contain;
  margin-left: 10%;
}
.orange{
  background: url('../img/orange.png') no-repeat;
  background-size:contain;
  width: 59px !important;
  margin-left: 11%;
}
.pineapple{
  background: url('../img/pineapple.png') no-repeat;
  background-size:contain;
  margin-top: -10px !important;
  margin-left: 30%;
}
.sherbetti{
  background: url('../img/sherbetti.png') no-repeat;
  background-size:contain;
}
.fumari{

  background: url('../img/fumari.png') no-repeat;
  background-size:contain;
}
/* .jibiar{
 
  background: url('../img/jibiar.png') no-repeat;
  background-size:contain;
} */
.cult{

  background: url('../img/cult.png') no-repeat;
  background-size:contain;
}
.dailyhookah{
width:73px;
height: 73px;
  background: url('../img/dailyhookah.png') no-repeat;
  background-size:contain;
}
.tangiers{
  background: url('../img/tangiers.png') no-repeat;
  background-size:contain;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.darkside{

  background: url('../img/darkside.png') no-repeat;
  background-size:contain;
}

.new-chasha{
         transform: rotateX(49deg);
         position: absolute;
         margin-top: -18px;
         z-index: 9;
         -webkit-transform: rotateX(49deg);
         -moz-transform: rotateX(49deg);
         -ms-transform: rotateX(49deg);
         -o-transform: rotateX(49deg);
}
.new-chasha.pineapple {
  background: url('../img/pineapple.png') no-repeat;
  background-size:cover;
  width:100px;
  height: 120px;
  margin-top:-45px;
  margin-left: 88px;
}
.new-chasha.orange {
  background: url('../img/orange.png') no-repeat;
  background-size:cover;
  width:60px;
  height: 60px;
  margin-top:-8px;
  margin-left: 124px;
}
.main-nav-bar-icon{
 z-index: 10;
 margin-right: 10%;
}
.header_icon .icon{
  padding-top:50px;
  font-size:40px;
  color: whitesmoke;
}
.header_icon{
  line-height: 100px;
}
#header{font-family: 'Roboto', medium;top:0;display: flex;padding:2px;font-weight: 300;box-shadow: 0 5px 30px rgba(0,0,0,0.5);background:rgba(11, 0, 39, 0.966);height: 90px;margin: 0 auto;position: fixed;width: 100%;z-index: 50;border-bottom: 2px solid  rgb(139, 2, 250);}
.main-nav-bar-right{
  width:70%;
  display: flex;
  justify-content: center;
  margin-right: 5%;
}
#main-nav{
  width:100%;
  max-width: 100%;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-line-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.main-nav-links{
  font-weight: bold;
  font-family: 'Roboto';
  color: whitesmoke;
  font-size: 20px;
}
.main-page-contacts{
    z-index: 10;
    position: absolute;
    bottom: 50px;
    color:whitesmoke;
    font-size: 20px;
    margin:15px;
    display: flex;
    flex-direction: column;
    

}

.main-page-contacts i {
  font-size: 24px;
  margin-top:100px;
  color: rgb(139, 2, 250);
  padding: 5px;
}
.main-page-contacts a {
  color:#fff;
}
.main-nav-links:hover{
  transition: 0.3s linear;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Roboto';
  height: 25px;
  color: rgba(189, 109, 255, 0.904);
  border-bottom: 1px solid rgb(139, 2, 250);
}
.main-nav-bar-right .nav-phone:hover{
  transition: 0.3s linear;
  color: rgba(189, 109, 255, 0.904);
  border-bottom: 1px solid rgb(139, 2, 250);
}
.main-nav-bar{
  width:15%;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 20px;
}

.icon{
  font-size: 30px;
  z-index: 10;
  color:whitesmoke;
  
}
.arrow-left-photo{
  position: absolute;
  left: 0;
  float: left;
  padding-left: calc(100% - 88vw);
  padding-top: calc(100% - 190vh);
 
}
.arrow-right-photo{
  position: absolute;
  float: right;
  padding-right: calc(100% - 88vw);
  padding-top: calc(100% - 190vh);
  right:0;

}
.arrow-left{
 margin-top:28%;
  float: left;
  margin-left:8%;
}
.arrow-right{
  float: right;
  margin-top:28%;
  margin-right:11%;
}

.main-nav-bar-right .nav-phone{
  font-size:18px;
  font-weight: bold;
  align-self: center;
  color: whitesmoke;
  font-family: 'Roboto';
  padding-top:2px;
  padding-left: 20px;
  display: flex;
  justify-content: flex-end;
  width: 15%;
  align-items: center;
  z-index: 10;
}

.icon:hover{
  transition: 0.4s linear;
  color: rgb(139, 2, 250);
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -ms-transition: 0.4s linear;
  -o-transition: 0.4s linear;
}
#nav-img{margin-top: -50px;margin-left: 150px;}
#logo-img{width: 130px;height: 70px;}

.main-article{padding-top: 13%;display:-webkit-box;display:-ms-flexbox;display: flex;width:100%;background: none;} 

.main-video{
  width:100%;
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  background: url('../img/video.mp4') no-repeat;
  background-size: cover;
  border-bottom: 3px solid  rgb(139, 2, 250);
  margin-bottom: 4px;
}

.main-video > video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%; 
  min-height: 100%;
  height: auto; 
  z-index: 10;
  margin-top:-20px;
}
.menu-text{
  text-align: center;padding-top: 7%;width: 100%;
  font-size: 33px;color:whitesmoke;font-weight: bold;font-family: 'Golos';z-index: 40;
}

.menu-page{
  width: 100%;
  z-index: 1;
  height: 100%;
  background: url("../img/menu-bg.jpg")no-repeat;
  background-size: cover;
} 
.menu-1{
  background: url("../img/menu-1.png") no-repeat;
  width: 87%!important;
  height: 98% !important;
  margin-top: -20vh !important;
  margin-left: 10% !important;
}
.menu-2{
  display: none;
  background: url("../img/menu-2.png")no-repeat;
  margin-top: -6vh !important;
  margin-left: 16% !important;
 
}
.menu-3{
  display: none;
  background: url("../img/menu-3.png")no-repeat;

  
}

.menu{
  background-size: contain;
  width: 70%;
  height: 81%;
  margin-left:16vw;
  margin-top: -8vh;
  z-index: 7;
  transition: all 1s ease-out;
  z-index: 7;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
}

.menu:hover{
  transform: scale(1.14);
  -webkit-transform: scale(1.14);
  -moz-transform: scale(1.14);
  -ms-transform: scale(1.14);
  -o-transform: scale(1.14);
}
.circle-menu{
  display: flex;
  position: absolute;
  bottom: 0;
  right: 47.9%;
  z-index: 10;
}
.circle-icon{
  padding-left: 15px;
  color: whitesmoke;
  font-size: 17px;
  margin-bottom:10px;
}
.cir-1{
  color: rgb(132, 0, 255);
}
.right-article{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
  z-index: 10;
}

.article-text{
  display: flex;
  flex-direction: column;
  z-index: 10;
  width: 50%;
  padding-left: 150px;
}
.order-table{
width: 310px;
text-decoration: none;
outline: none;
color: rgb(228, 202, 250);
background-color: rgba(184, 108, 247, 0.13);
position: relative;
padding: 15px 15px;
border: 2px solid;
text-align: center;
border-image: linear-gradient(180deg,rgb(166, 61, 252),rgb(144, 26, 255),rgb(132, 0, 255),rgb(109, 2, 250));
border-image-slice: 1;
font-family: 'Montserrat';
text-transform: uppercase;
overflow: hidden;
transition: .8s cubic-bezier(.165,.84,.44,1);
margin-top: 30px;
}
.order-table::before{
    content: '';
    position: absolute;
    left: 0;
    right:0;
    top: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    z-index: -1;
    background: linear-gradient(180deg,rgb(166, 61, 252),rgb(144, 26, 255),rgb(132, 0, 255),rgb(109, 2, 250));
    transition: .8s cubic-bezier(.165,.84,.44,1);
}

.order-table:hover:before {
  bottom: 0%;
  top: auto;
  height: 100%;
}

.order-table:hover { 
  background: rgba(255,255,255,0) ;
}

.order-table span{
  color: whitesmoke;
  font-family: 'Montserrat';
  font-size:18px;
  z-index: 5;
  text-align: left;
  width: 100%;
  font-weight: 500;
  color: whitesmoke;
}
@font-face {
  font-family: GolosBlack; /* Гарнитура шрифта */
  src: local(Golos), url('../fonts/Golos\ Black.ttf');; /* Путь к файлу со шрифтом */
 }
 @font-face {
  font-family: Golos; /* Гарнитура шрифта */
  src: local(Golos), url('../fonts/Golos.ttf');; /* Путь к файлу со шрифтом */
 }
.first-text {
  font-family: 'GolosBlack';
  font-size: 96px;
  line-height: 94px;
  z-index: 10;
  width: 360px;
  text-align: left;
  font-weight: bold;
  color: whitesmoke;
}

.second-text{
  color: whitesmoke;
  font-size: 20px;
  line-height: 50px;
  text-align: left;
  letter-spacing: 0.3px;
  z-index: 5;
  width: 360px;
  padding-top: 20px;
  font-family: 'Roboto';
}
.third-text{
font-family:  'Roboto';
font-size:30px;
font-style:oblique;
font-weight: 100;
color: #ebebeb;
}
.promo{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
padding-top:100px;
}
#first-promo{
margin-left:-100px;
width:42%;
z-index: 1;
}
.proposition{z-index: 1;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;-webkit-box-pack:  center;-ms-flex-pack:  center;justify-content:  center;width:99%;margin-left:20%;text-align: center;line-height: 60px;color: rgba(228, 222, 222, 0.938);}
.all-discount{
  width:100%;
  height: 100%;
  border-bottom: 3px solid rgb(139, 2, 250);
  margin-bottom: 10px;
}

#discount{
  width:100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url('../img/discound-bg.png') no-repeat;
  -moz-background-size: 100%; /* Firefox 3.6+ */
  -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 100%; /* Opera 9.6+ */
  background-size: cover;
 
}
.disc-img-first{
  width: 390px;
  height:  200px;
  z-index: 10;
  object-fit: scale-down;
}
.disc-img-second{
  width: 300px;
  height:  180px;
  margin-right: 100px;
  z-index: 10;
  object-fit:scale-down;
}
.disc-img-third{
  width: 200px;
  height:  200px;
  z-index: 10;
  object-fit:scale-down;
}
.discount-image{
  display: flex;
  width: 79%;
  align-items: center;
  justify-content: space-between;
}

.next-photo{
  background: url('../img/next-photo.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  margin-top: 14%;
  z-index: 10;
}
.next-photo:hover{
  background-color:rgb(132, 0, 255);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.prev-photo:hover{
  background-color:rgb(132, 0, 255);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.prev-photo{
  background: url('../img/prev-photo.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  margin-top: 14%;
  z-index: 10;

}
.discount-text2{
  text-align: center;
  width: 100%;
  font-size: 33px;
  color:whitesmoke;
  font-weight: bold;
  font-family: 'Golos';
  padding-top:10px;
  z-index: 1;
}
.gallery-wrapper-2 {
  display: none;
  opacity: 0;
  z-index: 10;
  display: none;
  padding-top: 10px;
  margin-left:15px;
  width: 80%;
  height: 100%;
  justify-content: center;
}

.gallery-wrapper{
  margin-left:15px;
  padding-top: 10px;
  z-index: 10;
  display: none;
  width: 80%;
  height: 80%;
  justify-content: center;
}
.gallery-item {
  padding-top:70px;
  margin-left:10px;
  margin-right: 10px;
  opacity: 1;
}
.img-responsive{
  width:250px;
  height: 200px;
}

#about-us{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack:center;
  -ms-flex-pack:center;
  width:100%;
  align-items: center;
  z-index: 1;
  border-bottom: 3px solid rgb(139, 2, 250);
  height: 99%;

}

.about{
  background: url('../img/bacgroun-page2.png');
  background-size: cover;
  margin: 0 auto;
  padding: 0 auto;
  height: 100%;
}
.about-main-text-popup{text-align: center;padding-top: 8%;width: 100%;
  height:40px;font-size: 33px;color:whitesmoke;font-weight: bold;font-family: 'Golos';z-index: 40;}  
.about-main-text {text-align: center;padding-top: 8%;width: 100%;font-size: 33px;color:whitesmoke;font-weight: bold;font-family: 'Golos';z-index: 40;}  
.about-main-text-2{
  text-align: center;padding-top: 4%;width: 100%;font-size: 33px;color:whitesmoke;font-weight: bold;font-family: 'Golos';z-index: 40;
}
.about-text{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  width:85%;
  color: rgba(241, 240, 240, 0.9);
  font-family: 'Roboto';
  font-size:20px;
  line-height: 30px;
  font-weight: bold;
  text-align:center;
  z-index: 7;
}
.about-text-1 {
  padding-top:30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  width:85%;
  color: rgba(241, 240, 240, 0.9);
  font-family: 'Roboto';
  font-size:20px;
  line-height: 30px;
  font-weight: bold;
  text-align:center;
  z-index: 7;
}
.purple-text{
  color: rgb(139, 2, 250);
  font-family: 'Roboto';
  font-size:20px;
  text-align:center;
  font-weight: bold;
  z-index: 1;
}
.about-plus{
  width: 40%;
  display: flex;
  padding-top:2%;
  justify-content: space-between;
  z-index: 10;
}
.about-img{
  z-index: 10;
  width:140px;
  height: 130px;

}
.about-img span{
  font-size:17px;
  display: inline-flex;
  padding-top:150px;
  text-align: center;
    color: whitesmoke;
  font-family: 'Roboto';
  font-style: normal;
}
.plus1{
  background: url('../img/PLUS1.png');
  background-size: cover;
 
}
.plus2{
  background: url('../img/PLUS2.png');
  background-size: cover;
  
}
.plus3{
  background: url('../img/PLUS3.png');
  background-size: cover;
  
}
#contact{
  bottom: 0;
background: black;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
z-index: 9;
height: 100%;
width: 100%;
}
.video-page{
  display: block;
   z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  
}
.main-video-bg{
  position: absolute;
  top: 0;
  z-index: 10;
  left: 0;
  height: 95%;
  width: 100%;
  -moz-background-size: 2px 2px;
  -webkit-background-size: 2px 2.1px;
  padding: 2.25em 1.6875em;
  background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.3), rgba(0,0,0,.3) 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.3), rgba(0,0,0,.3) 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.3), rgba(0,0,0,.3) 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, rgba(0,0,0,.3), rgba(0,0,0,.3) 2px, transparent 2px, transparent 100%);
  -webkit-background-size: 5px 5px;
  -moz-background-size: 5px 5px;
  background-size: 8px 8px;
}
#contact-text{
text-align: center;
font-family: 'Roboto';
font-size:55px;
font-weight: 600;
color: rgb(139, 2, 250);
z-index: 1;
padding-top: 30px;
}
#contact-us{

width:100%;
padding-top:40px;
background: black;
display: flex;

z-index: 1;
}
.mapframe{
  width:100%;
  height: 400px;
}
.contact-info{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 9;
  font-family: 'Roboto';
 
  bottom: 0;


}
.icon1{
  font-size: 20px;
  color: rgba(255, 248, 248, 0.973);
  z-index: 9;
  margin-left:20px;
  letter-spacing: 1.5px;
}
.icon1:hover{ 

  transition: 0.3s ease-in; font-size:22px; color: rgb(139, 2, 250); -webkit-transition: 0.3s ease-in; -moz-transition: 0.3s ease-in; -ms-transition: 0.3s ease-in; -o-transition: 0.3s ease-in;
}

.shisha-order{
  margin-left: 3%;
  width: 250px;
  text-decoration: none;
  outline: none;
  color: rgb(228, 202, 250);
  background-color: rgba(184, 108, 247, 0.13);
  position: relative;
  padding: 15px 20px;
  border: 2px solid;
  z-index: 1;
  text-align: center;
  border-image: linear-gradient(180deg,rgb(166, 61, 252),rgb(144, 26, 255),rgb(132, 0, 255),rgb(109, 2, 250));
  border-image-slice: 1;
  font-family: 'Montserrat';
  text-transform: uppercase;
  overflow: hidden;
  transition: .8s cubic-bezier(.165,.84,.44,1);
  margin-top: 30px;
  }
  .shisha-order::before{
      content: '';
      position: absolute;
      left: 0;
      right:0;
      top: 0;
      bottom: 0;
      height: 0;
      width: 100%;
      z-index: -1;
      background: linear-gradient(180deg,rgb(166, 61, 252),rgb(144, 26, 255),rgb(132, 0, 255),rgb(109, 2, 250));
      transition: .8s cubic-bezier(.165,.84,.44,1);
  }
  
  .shisha-order:hover:before {
    bottom: 0%;
    top: auto;
    height: 100%;
  }
  
  .shisha-order:hover { 
    background: rgba(255,255,255,0) ;
  }
  
  .shisha-order span{
    color: whitesmoke;
    font-family: 'Montserrat';
    font-size:18px;
    z-index: 8;
    text-align: left;
    width: 100%;
    font-weight: 500;
    color: whitesmoke;
  }
.range-input{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 35px;
    margin-left:100px;
    align-content: flex-end;
    margin-top: -40px;
    margin-left:10%;
    width: 330px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.range {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: absolute;
    margin-top: 100px;
    width: 330px;
    cursor: -webkit-grab;
    cursor: grab;
    font-size: 1px;
}
.range-val-text{
  margin-top: 120px;
  width: 270px;
  font-size:30px;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  font-style: italic;
  font-family: 'Roboto';
}

input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  background: rgba(59,173,227,1);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(59,173,227,1)), color-stop(25%, rgba(87,111,230,1)), color-stop(51%, rgba(152,68,183,1)), color-stop(100%, rgba(255,53,127,1)));
  background: -o-linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
  background: linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
  height: 6px;
  cursor: -webkit-grab;
  cursor: grab;
}

input[type=range]:focus {
  outline: none;
  cursor: -webkit-grab;
  cursor: grab;
}
.range-text{
  width: 350px;
  font-size: 34px;
  letter-spacing: 3px;
  color:whitesmoke;
  font-weight: 300;
  font-family: 'Montserrat';
}

input[type=range]::-moz-range-track {
  -moz-appearance: none;
  background: rgba(59,173,227,1);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(59,173,227,1)), color-stop(25%, rgba(87,111,230,1)), color-stop(51%, rgba(152,68,183,1)), color-stop(100%, rgba(255,53,127,1)));
  background: -o-linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
  background: linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
  filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bade3 ', endColorstr='#ff357f ', GradientType=1 );
  height: 2px;
  cursor: grab;
  
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 2px solid;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  max-width: 80px;
  position: relative;
  bottom: 11px;
  background-color: #1d1c25;
  cursor: -webkit-grab;
  cursor: grab;
  -webkit-transition: border 1000ms ease;
  transition: border 1000ms ease;
}

input[type=range]::-moz-range-thumb {
  -moz-appearance: none;
  cursor: grab;
  border: 2px solid;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  max-width: 80px;
  position: relative;
  bottom: 11px;
  background-color: #1d1c25;
  cursor: -moz-grab;
  -moz-transition: border 1000ms ease;
  transition: border 1000ms ease;
}



.range.blue::-webkit-slider-thumb {
   border-color: rgb(59,173,227);
}

.range.ltpurple::-webkit-slider-thumb {
   border-color: rgb(87,111,230);
}

.range.purple::-webkit-slider-thumb {
   border-color: rgb(152,68,183);
}

.range.pink::-webkit-slider-thumb {
   border-color: rgb(255,53,127);
}

.range.blue::-moz-range-thumb {
   border-color: rgb(59,173,227);
}

.range.ltpurple::-moz-range-thumb {
   border-color: rgb(87,111,230);
}

.range.purple::-moz-range-thumb {
   border-color: rgb(152,68,183);
}

.range.pink::-moz-range-thumb {
   border-color: rgb(255,53,127);
}

input[type=range]::-webkit-slider-thumb:active {
  cursor: -webkit-grabbing;
}

input[type=range]::-moz-range-thumb:active {
  cursor: -moz-grabbing;
}

  

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0,-50%,0);
    transform: translate3d(0,-50%,0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0,-50%,0);
    transform: translate3d(0,-50%,0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.colbWater {
  background: url('../img/watershisha-removebg-preview.png') no-repeat;
  background-size:contain;
  
  margin-left: 10%;
}
.colbMilk {
  background: url('../img/milkshisha-removebg-preview.png') no-repeat;
  background-size:contain;
 
  margin-left: 10%;
}
.colbAlk {
  background: url('../img/alcoshisha-removebg-preview.png') no-repeat;
  background-size:contain;
  margin-left: 10.5%;
}
.colbs{
  width: 90px;
  height: 120px;
  position: absolute;
  margin-top: 40px;
  cursor: pointer;
}
.wow{
  opacity: 0;
}
.colbs-header {
  position: absolute;
  margin-left: 70px;
  margin-top: 170px;
}
.border-colbs-header {
  border-bottom: 4px solid rgb(139, 2, 250);
  padding: 2px;
  transition: 0.3s ease-in;
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -ms-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
}
.border-chasha-header {
  border-bottom: 4px solid rgb(139, 2, 250) ;
  padding: 2px;
  transition: 0.3s ease-in;
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -ms-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
}


@-webkit-keyframes bounceInLeft {
  0% {
     opacity: 0;
     -webkit-transform: translateX(-2000px);
  }
  60% {
     opacity: 1;
     -webkit-transform: translateX(30px);
  }
  80% {
     -webkit-transform: translateX(-10px);
  }
  100% {
     -webkit-transform: translateX(0);
  }
}

@keyframes bounceInLeft {
  0% {
     opacity: 0;
     transform: translateX(-2000px);
  }
  60% {
     opacity: 1;
     transform: translateX(30px);
  }
  80% {
     transform: translateX(-10px);
  }
  100% {
     transform: translateX(0);
  }
}

.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; 
  animation-duration: 2s;
}
.bounceInLeft:nth-of-type(1){
  animation-delay: 0.1s;
}
.bounceInLeft:nth-of-type(2){
  animation-delay: 0.6s;
}
.bounceInLeft:nth-of-type(3){
  animation-delay: 1.5s;
}
.bounceInLeft:nth-of-type(4){
  animation-delay: 2s;
}
.bounceInLeft:nth-of-type(5){
  animation-delay: 0.1s;
}
.bounceInLeft:nth-of-type(6){
  animation-delay: 0.4s;
}
.bounceInLeft:nth-of-type(7){
  animation-delay: 0.9s;
}
.bounceInLeft:nth-of-type(8){
  animation-delay: 1.2s
}
.slider {
  position: relative;
  overflow: hidden;
  max-width: 760px;
  width:65%;
  height: 100%;
  margin-left: 0px;
  margin-right: 50px;

}

@-webkit-keyframes zoomInLeft {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

@keyframes zoomInLeft {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

.zoomInLeft {
  -webkit-animation-name: zoomInLeft;
  animation-name: zoomInLeft;
  animation-duration: 1s;
  animation-fill-mode: both;

}

/* стили для обёртки, в которой заключены слайды */
.slider__wrapper {
  position: relative;
  overflow: hidden;

  
}

/* стили для контейнера слайдов */
.slider__items {
  display: flex;
  transition: transform 0.6s ease;
}

/* стили для слайдов */
.slider__item {
  flex: 0 0 100%;
  max-width: 100%;
}

/* стили для кнопок "вперед" и "назад" */
.slider__control {
  position: absolute;
  top: 35%;
  display: none;
  align-items: center;
  justify-content: center;
  width: 40px;
  color: #fff;
  text-align: center;
  opacity: 0.5;
  height: 50px;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
}

.slider__control_show {
  display: flex;
 
}

.slider__control:hover,
.slider__control:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}

.slider__control_prev {
  left: 0;
}

.slider__control_next {
  right: 0;
}

.slider__control::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.slider__control_prev::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider__control_next::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

/* стили для индикаторов */
.slider__indicators {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

.slider__indicators li {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px;
  height: 4px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.slider__indicators li.active {
  background-color: #fff;
}



.slider__item_1 {
  background: linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgb(139, 2, 250) 100%);
}

.slider__item_2 {
  background: linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgb(139, 2, 250) 100%);
}

.slider__item_3 {
  background: linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgb(139, 2, 250) 100%);
}

.slider__item_4 {
  background:linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgb(139, 2, 250) 100%);
}

.slider__item {
  height: 400px;
  overflow: hidden;
  position: relative;
}

.slider__item_inner {
  position: absolute;
  left: 15%;
  
  right: 15%;
  top: 36px;
  bottom: 36px;
  overflow: hidden;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.slider__item_img {
  flex: 0 0 80px;
}
.slider-img{
  width:140px;
  height: 140px;
object-fit: cover;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}


.slider__item_testimonial {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  text-align: center;

}

@media (min-width: 576px) {
  .slider__item {
    height: 250px;
  }

  .slider__item_inner {
    flex-direction: row;
  }

  .slider__item_testimonial {
    margin-left: 15px;
  }

  .slider__item_img {
    flex: 0 0 150px;
  
  }

  .slider__item_testimonial {
    text-align: left;
  }
}

.slider__item_name {
  font-size: 20px;
  margin-bottom: 8px;
  color: rgba(255, 255, 255, 0.932);
}



.slider__item_text {
  width:100%;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.664);
}

.cl-btn-3 {
  position: absolute;
  font-size:30px;
  margin-top:100px;
  width: 26px;
  height: 26px;
  margin: 40px auto;
  transform: rotate(45deg) scale(2);
  z-index: 10;
}

.cl-btn-3 .top,
.cl-btn-3 .bot {
  display: block;
  background: white;
  color:black;
  opacity: 1;
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
  animation-iteration-count: 1;
}

.cl-btn-3 .top {
  height: 100%;
  width: 2px;
  margin-left: -1px;
  transform: skewY(45deg);
  top: 0;
}

.cl-btn-3 .bot {
  width: 100%;
  height: 2px;
  margin-top: -1px;
  transform: skewX(-45deg);
  left: 0;
}

@-webkit-keyframes top-out {
  from {
      top: 0%;
      height: 100%;
  }
  to {
      top: 200%;
      height: 0%;
  }
}

@keyframes top-out {
  from {
      top: 0%;
      height: 100%;
  }
  to {
      top: 200%;
      height: 0%;
  }
}
@-webkit-keyframes top-in {
  from {
      top: -100%;
      height: 0%;
  }
  to {
      top: 0%;
      height: 100%;
  }
}
@keyframes top-in {
  from {
      top: -100%;
      height: 0%;
  }
  to {
      top: 0%;
      height: 100%;
  }
}
@-webkit-keyframes bot-out {
  from {
      left: 0%;
      width: 100%;
  }
  to {
      left: 200%;
      width: 0%;
  }
}
@keyframes bot-out {
  from {
      left: 0%;
      width: 100%;
  }
  to {
      left: 200%;
      width: 0%;
  }
}
@-webkit-keyframes bot-in {
  from {
      left: -100%;
      width: 0%;
  }
  to {
      left: 0%;
      width: 100%;
  }
}
@keyframes bot-in {
  from {
      left: -100%;
      width: 0%;
  }
  to {
      left: 0%;
      width: 100%;
  }
}
.cl-btn-3:hover {
  cursor: pointer;
}
.cl-btn-3:hover .top {
  animation: top-out 0.25s forwards, top-in 0.25s forwards 0.25s;
}
.cl-btn-3:hover .bot {
  animation: bot-out 0.25s forwards 0.1s, bot-in 0.25s forwards 0.35s;
}
#rc-phone {position: fixed;bottom: 10px;right: 5%;width: 60px;height: 62px;z-index: 1000;margin: 0;}

#rc-phone-form {overflow: hidden}  
.fa-youtube{
  font-size: 0.9em;
}
#rc-phone.rc-inactive #rc-phone-back {display: block;}
#rc-phone-form {top: 6px;right: 15%;padding: 12px 0;background: #363f43;width: 45px;height: 45px;box-sizing: border-box;border-radius: 50%;-webkit-box-shadow: 0 0 16px rgba(0,0,0,0.45);-moz-box-shadow: 0 0 16px rgba(0,0,0,0.45);box-shadow: 0 0 16px rgba(0,0,0,0.45);position: absolute;}
#rc-phone-icon {
  position: absolute;
  cursor: pointer;
  color: whitesmoke;
  left: 1px;
  top: 0;
  width: 45px;
  height: 45px;
  line-height: 47px;
  text-align: center;
  font-size: 26px;
  border-radius: 50%;
  background: rgb(139, 2, 250);
  z-index: 1;
  transition: background 0.2s;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  -ms-transition: background 0.2s;
  -o-transition: background 0.2s;
}
#rc-phone-icon:hover {color: whitesmoke; background: rgb(139, 2, 250);}


#rc-phone-form-wrap {width: 300px;padding-left: 60px;position: relative;z-index: 10;}
#rc-recall {font-size: 12px;width: 80px;color: whitesmoke;float: left;line-height: 14px;margin-right: 6px;}

#rc-phone-input {float: left; border-radius: 12px; width: 180px; height: 28px; background: whitesmoke url(../images/rus.png) no-repeat 8px 50%; color: #b2b2b2; margin: 0; padding: 0 0 0 25px; border: 1px solid #363f43; box-sizing: border-box; box-shadow: none !important; line-height: 12px;}
#rc-phone-input .error {border: 1px solid #ff3c36;}
#rc-phone-input:focus {color: #4c4c4c;}

#rc-phone-button {float: left; border: 0; color: #363f43; width: 24px; height: 24px; padding: 0; line-height: 24px; text-align: center; font-size: 14px; box-sizing: border-box; background: rgb(238, 238, 238); cursor: pointer; margin: 2px 0 0 9px; border-radius: 50%;}
#rc-phone-button:hover {color: whitesmoke; background: rgb(139, 2, 250) url(../images/m-phone-h.png) no-repeat 50% 50%;}
:focus {outline: none;}

#rc-phone-form-close {position: absolute; z-index: 2; top: -3px; left: -3px; width: 18px; height: 18px; box-sizing: border-box; font-size: 12px; line-height: 18px; color: #fff; background: #363f43; border-radius: 50%; cursor: pointer; display: none;}
#rc-phone-form-close:hover {background: red;}
#rc-phone-form-close.closeш9шd{height:0;width:0;}
#rc-phone-form:hover #rc-phone-form-close{display:block;}

#myform {
  width: 50%;
  display: none;
  margin-left:25%;
}

#myform header {
  padding-top: 20px;
  color: whitesmoke;
  font-family: 'Mont';
  text-align: center;
  font-size: 40px;
  font-weight: 300;
  letter-spacing: 3px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

#myform .area {
  color: rgba(255, 255, 255, 0.699);
  width: 100%;
  margin-top:20px;
}

#myform label {
  font-family: 'Mont';
  line-height: 35px;
  display: table-header-group;
  font-size: 1.05em;
 
  letter-spacing: 0.5px;
  transition: all 0.3s ease;
  text-align: center;
}

#myform input {
  width: 100%;
  font-family: 'Mont';
  box-sizing: border-box;
  padding: 12px;
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  background: transparent;
  color: whitesmoke;
  display: table-row-group;
  transition: all 0.3s ease;
  font-size: 1.05em;
}

#myform input:focus {
  outline: none !important;
  border-color: rgb(139, 2, 250);
}

#myform input:focus + label {
  color: rgb(139, 2, 250);
}

#myform .row {
  margin-top:20px;
  width: 100%;
 
  display: table;
}

#myform .col2 {
  display: table;
  width: 48%;
  margin-left:13px;
  float: left;
}

#myform.col2:nth-child(2) {
  float: right;
  display: table;
}

#myform.ckeckarea input[type="checkbox"] {
  display: none;
}

#myform .ckeckarea label {
  position: relative;
  display: inline-block;
  padding: 3px 3px 3px 30px;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
}

#myform .ckeckarea label::before,
#myform .ckeckarea label::after {
  position: absolute;
  content: '';
  -webkit-transition: all .2s;
  transition: all .2s;
}

#myform .ckeckarea label::before {
  top: 50%;
  left: 0;
  width: 14px;
  height: 14px;
  margin-top: -8px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 3px;
}

#myform .ckeckarea label::after {
  opacity: 0;
  top: 50%;
  left: 3px;
  width: 8px;
  height: 4px;
  margin-top: -4px;
  border-left: 2px solid rgb(139, 2, 250);
  border-bottom: 2px solid rgb(139, 2, 250);
  -webkit-transform: rotate(-45deg) scale(.5);
  transform: rotate(-45deg) scale(.5);
}

#myform .ckeckarea label:hover::before {
  border-color: rgb(139, 2, 250);
}

#myform.ckeckarea input[type="radio"]:checked + label::before {
  border-bottom:2px solid rgb(139, 2, 250);
  color: rgb(139, 2, 250);
}

#myform.ckeckarea input[type="radio"]:checked + label::after {
  opacity: 1;
  color: rgb(139, 2, 250);
  -webkit-transform: rotate(-45deg) scale(1);
  transform: rotate(-45deg) scale(1);
}

#myform .ckeckarea input[type="radio"]:checked ~ label {
  color: rgb(139, 2, 250);
  border-bottom:2px solid rgb(139, 2, 250);
}

#myform .btn {
  width: 50%;
  font-family: 'Mont';
  font-weight: 400;
  font-size:27px;
  letter-spacing: 2px;
  margin-left: 10px;
  transition: all 0.3s ease;
}
#myform .row-place{
  display: flex;
  bottom: 0;
}
#myform .row-place .place{
  width: 50%;
}
#myform .row-button{
  width: 100%;
  height: 80px;
  margin-top:20px;
  font-size:20px;
  display: flex;
  justify-content: space-between;
}
#myform .form-price{
  font-size: 30px;
  font-style: italic;
  font-weight: 300;
  letter-spacing: 2px;
  margin-top: 2px;
  font-family: 'Mont';
  color: whitesmoke;
  width: 100%;
  padding-top: 15px;
  text-align: center;
}
#myform .adress{
display: none;
}
.succes-order{
  display: none;
  font-size:40px;
  font-family: 'Mont';
  font-weight: 500;
  letter-spacing: 2px;
  color:whitesmoke;
  text-align: center;
  margin-top:150px;
}
.succes-order .cl-btn-3{
  position: relative;
}
#myform .btn:hover {
  background: rgb(139, 2, 250);
  border-color: rgb(139, 2, 250);
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  #myform {
  margin: 50px auto;
  width: 80%;
}
#myform .col2 {
  display: table;
  width: 100%;
  float: left;
  margin-left:10px;
}
  
#myform.ckeckarea label {
  line-height:20px;
}
}

@media screen and (max-width: 600px) {
  #myform {
  margin: 50px auto;
  width: 100%;
}}

.radio-3{
  width: 23% !important;
  margin-left: 92px !important;
  margin-top: 390px !important;
}
.radio-group {
  z-index: 10;
  font-size: 20px;
  color: whitesmoke;
  font-weight: bold;
  font-family: 'Golos';
  padding-left: 10%;
}
.radio-group-2 {
  display: flex;
  padding-left: 25px;
  width: 19%;
  justify-content: space-between;
  z-index: 10;
  margin-top: 140px;
  font-size: 20px;
  color: whitesmoke;
  margin-left: 115px;
  font-weight: bold;
  font-family: 'Golos';
  position: absolute;
}

input[type="radio"] {
  width: 25px;
  position: absolute;
  height: 25px;
  z-index: 50;
  opacity: 0;
}

.choice-circle{
  margin-left: 57px;
}
/* Соответствует прямому потомку лейбла, которому предшествует a
 радио-кнопка */
input[type="radio"] + label > span { position: relative; z-index: 30; border-radius: 50%; width: 16px; height: 16px; background-color: black; border: 1px solid #bcbcbc; margin: 0 1em 0 0; display: inline-block; vertical-align: middle; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%;
}

.choice-a{
  z-index: 10;
  font-size: 20px;
  color: whitesmoke;
  font-weight: bold;
  font-family: 'Golos';

}
.choice-b{
  z-index: 10;
  font-size: 20px;
  color: whitesmoke;
  font-weight: bold;
  font-family: 'Golos';
  
}
.choice-c{
  z-index: 10;
  font-size: 20px;
  color: whitesmoke;
  font-weight: bold;
  font-family: 'Golos';

}
.chasha-block{
    display: flex;
    width: 20%;
    justify-content: space-between;
    z-index: 10;
    margin-top: 60px;
    margin-left: 15px;
    font-weight: bold;
    font-family: 'Golos';
    padding-left: 210px;
    position: absolute;
}
/* Соответствует промежутку, содержавшему прямым потомком
 из лейбла, которому предшествует проверенная радио-кнопка */
input[type="radio"]:checked + label > span span {
  display: inline-block;
  z-index: 30;
  width: 10px;
  height: 10px;
  position: absolute;
  left: 3px;
  top: 3px;
  border-radius: 50%;
  border: none;
  background: #00ffff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
label p{
   margin-left: -40%;
   margin-top:5px;
}
#tabac label p{
  margin-left: -5px;
  margin-top: 6px;
}
.number-shisha{
  display: none;
  top: 30px;
  right: -122px;
  width:100px;
  height: 25px;
  position: absolute;
  border: 1px solid #00ffff;
  border-radius: 5px;
}
.index-shisha{
  margin-left:5px;
  cursor: pointer;
  bottom: -10px;
  position: absolute;
  font-size: 19px;
  font-family: 'Golos';
  font-weight: bold;
  display: inline-block;
  background: #00001c;
  color: #00ffff;
  text-align: center;
  border: 1px solid #00ffff;
  border-radius:50%;
  width: 22px;
  height: 21px;
  transform: translateY(-50%);
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  -ms-border-radius:50%;
  -o-border-radius:50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.number-shisha .indx-2{
  
  margin-left: 39px;
 
}
.number-shisha .indx-3{
  margin-left:72px;
}
.shisha-index {
    position: absolute;
    top: 10px;
    right: -20px;
}
.shisha-index .indx-0{
  top: 2px;
  cursor: pointer;
  font-size: 19px;
  font-family: 'Golos';
  font-weight: bold;
  display: inline-block;
  background: #00001c;
  color: #00ffff;
  text-align: center;
  border: 1px solid #00ffff;
  border-radius:50%;
  width: 22px;
  height: 21px;
  position: absolute;
  transform: translateY(-50%);
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  -ms-border-radius:50%;
  -o-border-radius:50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.block-colbs{
  display: flex;
  width: 20%;
  justify-content: space-between;
  z-index: 10;
  margin-top: 200px;
  margin-left: -40px;
  font-weight: bold;
  font-family: 'Golos';
  padding-left: 200px;
  position: absolute;
}