section{
  width:100%;
  height: 100%;
  bottom:0;
  top:0;
  left:0;
  right: 0;
}
#fullpage{
  width:100%;
  min-width: 300px;
  min-height: auto;
  top: 0;
  bottom: 0;
  left:0;
  right: 0;
  overflow: hidden;
  z-index: 0;
}
a { 
  text-decoration: none;
}
body{
  font-family: 'Roboto';
  width: 100%;
  height: auto;

 
}
::-webkit-scrollbar { width: 8px; height: 2px;}
::-webkit-scrollbar-button {  background-color: rgba(11, 0, 39, 0.966); }
::-webkit-scrollbar-track-piece { background-color: rgba(11, 0, 39, 0.966);}
::-webkit-scrollbar-thumb { height: 50px; background-color: #ff00b3ef; border-radius: 7px; -webkit-border-radius: 7px; -moz-border-radius: 7px; -ms-border-radius: 7px; -o-border-radius: 7px; }
::-webkit-resizer { background-color: rgb(231, 14, 14);}
.fp-section.fp-table, .fp-slide.fp-table{
  width:100%;
 
}
.popup {
	position: absolute;
	height:100%;
	width:100%;
	top:0;
	left:0;
	display:none;
	text-align:center;
}

.popup_bg {
	background:rgba(0, 0, 0, 0.9);
	position:absolute;
	z-index:1;
	height:100%;
	width:100%;
}
.popup .cl-btn-3{
  position: absolute;
  color:black;
  opacity: 1;
  z-index: 10;
  margin-left:90%;
  margin-top:11%;
}

.popup_img {
	position: relative;
  z-index:2;
  width:700px;
  height:430px;
	max-height:94%;
	max-width:94%;
	margin-top:12%;
}
.canvas{
  position: fixed;
  top: 0;
  width: 100%;
  bottom: 0;
  
  overflow: hidden;
  z-index: 0;
}
.myCanvas
{
  position: absolute;
  top: 0;

  width: 100%;
  height: auto; 
  background: black;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  background:black url(https://s.cdpn.io/16327/texture_bg.jpg) no-repeat 100% 0px;
}

.css-radio {
  height: 25px;
  width: 25px;
  margin: 25px;
  cursor: pointer;
}
.css-radio-2{
  height: 25px;
  width: 25px;

  cursor: pointer;
}

.calc-img{
  width:150px;
  height:150px;
  margin: 30px;
}
.checkbox-label{
  padding:30px;
  width:170px;
}
#main-shahta{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width:100%;
}
.colbs{
  width:200px;
  height: 200px;
  cursor: pointer;
}
#shahta-img{
 width:300px;
 height: 400px;
 
}
.new-kolba{
  width: 200px;
  height: 200px;
  position: absolute;
  margin-top: -155px;
  margin-left: 47px;
}
#first-fieldset{
  
  text-align: center;
  align-content: center;
  width:100%;
 
}
fieldset{
  padding-top: 20px;
}
#kolbs{
  margin-top:-300px;
  width: 100%;
}
.kolbs-img{
  width:200px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.total_price{
  display: flex;
  font-size: 35px;
  -webkit-box-align: center;
  align-self: flex-end;
  justify-content: flex-end;
  margin-left: 10%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  margin-bottom:50px;
}
.total_price_sum{
  font-size: 35px;
  font-family: 'Roboto';
  margin-top:-80px;
  text-align: center;
  color: whitesmoke;
}

#form-text{
    text-align: center;
    margin-top:10%;
    width: 100%;
    font-size: 45px;
    color:rgb(248, 10, 177);
    font-family: 'Roboto';
    
}
.form-calculate{
  width: 100%;
  
}
.shishaPage{
  width:100%;
  height: 100%;
 display: flex;
 flex-wrap: wrap;
}
.form-question{
  padding:5px;
  font-size:40px;
  margin-top:40px;
  color:whitesmoke;
  font-family: 'Roboto';
}
.label-form{
  padding:10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color:whitesmoke;
  width: 80%;
}
.option{
    padding-top:20px;
    font-size: 35px;
    width: 28%;
    color: whitesmoke;
    z-index: 9;
    font-family: 'Roboto';
  
}
#option-block{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px;
    margin-top:25px;
    font-size: 35px;
    width: 100%;
    color: whitesmoke;
    justify-content: space-between;
}
.tabac-wrap{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  justify-content: center;
  width: 100%;

  
}

.option-radio-active {
  border-bottom: 3px solid rgb(16, 255, 255) ;
}
.option-radio2-active {
  border-bottom: 3px solid rgb(248, 10, 177) ;
}

#tabac{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  justify-content: space-between;
  width:100%;
}
#shahta-items{
  width: 300px;
  margin-left:150px;
}
.shishaItem{
  width: 100%;
  height: 100%;
}
.form-second-question{
  padding-top: 120px;
  margin-left:100px;
  font-size:38px;
  width:100%;
  color:whitesmoke;
}
.calc-img-chasha{
  margin-left: 50px;
  margin-top: 20px;
  cursor: pointer;
}
.calc-handler{
  width:26px;
  height: 26px;
  margin-top:20px;
}
.glina{
  background: url('../img/glina.jpg') no-repeat;
  background-size:cover;
  width:100px;
  height: 100px;
}
.orange{
  background: url('../img/orange.png') no-repeat;
  background-size:cover;
  width:100px;
  height: 100px;
}
.pineapple{
  background: url('../img/pineapple.jpg') no-repeat;
  background-size:cover;
  width:100px;
  height: 100px;
}
.sherbetti{
  background: url('../img/sherbetti.png') no-repeat;
  background-size:cover;
}
.fumari{

  background: url('../img/fumari.png') no-repeat;
  background-size:cover;
}
.jibiar{
 
  background: url('../img/jibiar.png') no-repeat;
  background-size:cover;
}
.cult{

  background: url('../img/cult.jpg') no-repeat;
  background-size:cover;
}
.dailyhookah{
  width:165px;
  height: 165px;
  margin-top:15px;
  background: url('../img/dailyhookah.png') no-repeat;
  background-size:cover;
}
.tangiers{
 
  background: url('../img/tangiers.jpg') no-repeat;
  background-size:cover;
}
.darkside{

  background: url('../img/darkside.png') no-repeat;
  background-size:cover;
}

.new-chasha{
         width: 80px;
         transform: rotateX(48deg);
         height: 80px;
         position: absolute;
         margin-top: -20px;
         margin-left: 113px;
         z-index: 9;
         -webkit-transform: rotateX(50);
         -moz-transform: rotateX(50);
         -ms-transform: rotateX(50);
         -o-transform: rotateX(50);
}
#header{
font-family: 'Roboto', medium;
top:0;
display: flex;
padding:2px;
font-weight: 300;
background:rgba(11, 0, 39, 0.966);
height: 90px;
margin: 0 auto;
position: fixed;
width: 100%;
z-index: 10;
border-bottom: 2px solid  rgb(16, 255, 255);

}
#main-nav{
  padding:35px;
  width: 95%;
  max-width: 100%;
  font-size: 18px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-line-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.main-nav-links{
 
  color: #ebebeb;
  font-size: 17px;
}
.main-page-contacts{
    z-index: 10;
    position: absolute;
    bottom: 50px;
    color:#fff;
    font-size: 20px;
    margin:15px;
    display: flex;
    flex-direction: column;

}

.main-page-contacts i {
  font-size: 24px;
  margin-top:100px;
  color: rgb(16, 255, 255);
  padding: 5px;
}
.main-page-contacts a {
  color:#fff;
}
.main-nav-links:hover{
  transition: 0.3s linear;
  font-size: 17px;
  height: 25px;
  color: rgba(248, 12, 217, 0.932);
  border-bottom: 2px solid rgba(248, 12, 217, 0.932);
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -ms-transition: 0.3s linear;
  -o-transition: 0.3s linear;
}
.main-nav-bar{
  width:110px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
          height: 20px;
}
.icon{
  
  font-size:26px;
  color: #ebebeb;
}
.icon:hover{
  transition: 0.4s linear;
  color: #ff00b3ef;
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -ms-transition: 0.4s linear;
  -o-transition: 0.4s linear;
}
#nav-img{margin-top: -40px;}
#logo-img{
width:100px; 
height:78px;
margin-top:-13px;
}


#main-article{
display:-webkit-box;
display:-ms-flexbox;
display:flex;
width:100%;
background: none;
margin-top:-18%;
} 

.main-video{
  width:100%;
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  /* background: url(/img/backroundvideo.JPG) no-repeat; */
  background-size: cover;
}

.main-video > video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto;
  height: auto; 
  background-size: cover;
  z-index: 10;
  margin-top:-10px;
}

.article-text{
  z-index: 1;
  width: 100%;
  text-align: center;
}
.first-text{
font-family:  'Roboto', sans-serif;
margin-top:10px;
font-size:50px;
line-height: 2;
width:100%;
text-align: center;
font-weight: 700;
color: #ebebeb;
}
.second-text{
  color: #ebebeb;
  font-size: 48px;
  line-height: 48px;
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Roboto Slab, sans-serif;
}
.third-text{
font-family:  'Roboto', sans-serif;
font-size:30px;
font-style:oblique;
font-weight: 100;
color: #ebebeb;
}
.promo{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
padding-top:100px;
}
#first-promo{
margin-left:-100px;
width:42%;
z-index: 1;
}
.proposition{z-index: 1;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;-webkit-box-pack:  center;-ms-flex-pack:  center;justify-content:  center;width:99%;margin-left:20%;text-align: center;line-height: 60px;color: rgba(228, 222, 222, 0.938);}
#discount{
  width:100%;
  height: 100%;
  display: -webkit-box;display: -ms-flexbox;display: flex;
  background: url('../img/back-1.jpg') no-repeat ;
  opacity: 0.9;
  -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 99%;
  padding: 10px;
}
#second-promo{
  height: 330px;z-index: 3; margin-top: 15%;
  padding-left:20px;
}
#birthday-promo{
  margin-top:-70px;
  width: 35%;
  height:200px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}
#main-promo{
  margin-top: 0px;
  height: 370px;
  z-index: 1;
  margin-top: 15%;
}
.gallery-wrapper{
  z-index: 10;
  display: none;
  width: 100%;
  background: black url(https://s.cdpn.io/16327/texture_bg.jpg);
  flex-wrap: wrap;
  align-content: flex-start;
  height: 100%;
  padding-top: 90px;
}
.gallery-item {
  padding-top:50px;
  opacity: 0;
  flex-basis: 20%;
}
.img-responsive{
  width:380px;
  height: 250px;

}
/* .closeButton{
  position: absolute;
  background: white;
  color: black;
  font-size:30px;
  margin-top:100px;
  width:50px;
} */
#about-us{
display: -webkit-box;
display: -ms-flexbox;
display: none;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
-webkit-box-pack:center ;
    -ms-flex-pack:center ;
        justify-content:center ;
width:100%;
z-index: 1;

}

.about{
  background: url('/img/gallery-texture.png');
  margin: 0 auto;
  padding: 0 auto;
  height: 100%;
}
.about-main-text {
margin-top: 150px;
text-align: center;
width: 100%;
color: rgba(241, 240, 240, 0.938);
font-family: 'Roboto', sans-serif;
font-size: 45px;
font-weight: 1000;
letter-spacing: 2px;
z-index: 1;
}  
.about-text{margin-top:25px;line-height: 45px;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;align-self: center;width:100%;color: rgba(241, 240, 240, 0.9);font-family: 'Roboto', sans-serif;font-size:30px;font-style:bold;font-weight: 100;z-index: 1;}
#contact{
  bottom: 0;
padding-top:110px;
background: black;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
z-index: 9;
height: 100%;
width: 100%;
}
#main-page{
  display: block;
   z-index: 9;
   width:100%;
  
}
#contact-text{
text-align: center;
font-family: 'Roboto', sans-serif;
font-size:55px;
font-weight: 600;
color: #ff00b3ef;
z-index: 1;
padding-top: 30px;
}
#contact-us{

width:100%;
padding-top:40px;
background: black;
display: flex;

z-index: 1;
}
.mapframe{
  width:100%;
  height: 400px;
}
.contact-info{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 9;
  font-family: 'Roboto';
 
  bottom: 0;


}
.icon1{
  font-size: 20px;
  color: rgba(255, 248, 248, 0.973);
  z-index: 9;
  margin-left:20px;
  letter-spacing: 1.5px;
}
.icon1:hover{ 

  transition: 0.3s ease-in; font-size:22px; color: #ff00b3ef; -webkit-transition: 0.3s ease-in; -moz-transition: 0.3s ease-in; -ms-transition: 0.3s ease-in; -o-transition: 0.3s ease-in;
}

.button {
  padding: 15px 30px;
  height: 90px;
  font-family: 'Roboto';
  background-color: rgba(59,173,227,1);
  background-image: -o-linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
  background-image: linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
  border-radius: 10px;
  border-color: rgb(1, 197, 247);
  font-size: 26px;
  font-weight: 800;
  letter-spacing: 1.2px;
  color: #ffffff;
  margin-top:10px;
  width:250px;


}
.range-input{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 35px;
    margin-left:100px;
    align-content: flex-end;
    margin-top: -40px;
    margin-left:10%;
    width: 300px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.range {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: absolute;
    margin-top: 80px;
    width: 270px;
    cursor: -webkit-grab;
    cursor: grab;
    font-size: 1px;
}
.range-val-text{
  margin-top: 100px;
  width: 270px;
  font-size:29px;
  letter-spacing: 2px;
  text-align: center;
}

input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  background: rgba(59,173,227,1);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(59,173,227,1)), color-stop(25%, rgba(87,111,230,1)), color-stop(51%, rgba(152,68,183,1)), color-stop(100%, rgba(255,53,127,1)));
  background: -o-linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
  background: linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
  height: 6px;
  cursor: -webkit-grab;
  cursor: grab;
}

input[type=range]:focus {
  outline: none;
  cursor: -webkit-grab;
  cursor: grab;
}
.range-text{
  width: 300px;
  font-size:35px;
}

input[type=range]::-moz-range-track {
  -moz-appearance: none;
  background: rgba(59,173,227,1);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(59,173,227,1)), color-stop(25%, rgba(87,111,230,1)), color-stop(51%, rgba(152,68,183,1)), color-stop(100%, rgba(255,53,127,1)));
  background: -o-linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
  background: linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
  filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bade3 ', endColorstr='#ff357f ', GradientType=1 );
  height: 2px;
  cursor: grab;
  
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 2px solid;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  max-width: 80px;
  position: relative;
  bottom: 11px;
  background-color: #1d1c25;
  cursor: -webkit-grab;
  cursor: grab;
  -webkit-transition: border 1000ms ease;
  transition: border 1000ms ease;
}

input[type=range]::-moz-range-thumb {
  -moz-appearance: none;
  cursor: grab;
  border: 2px solid;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  max-width: 80px;
  position: relative;
  bottom: 11px;
  background-color: #1d1c25;
  cursor: -moz-grab;
  -moz-transition: border 1000ms ease;
  transition: border 1000ms ease;
}



.range.blue::-webkit-slider-thumb {
   border-color: rgb(59,173,227);
}

.range.ltpurple::-webkit-slider-thumb {
   border-color: rgb(87,111,230);
}

.range.purple::-webkit-slider-thumb {
   border-color: rgb(152,68,183);
}

.range.pink::-webkit-slider-thumb {
   border-color: rgb(255,53,127);
}

.range.blue::-moz-range-thumb {
   border-color: rgb(59,173,227);
}

.range.ltpurple::-moz-range-thumb {
   border-color: rgb(87,111,230);
}

.range.purple::-moz-range-thumb {
   border-color: rgb(152,68,183);
}

.range.pink::-moz-range-thumb {
   border-color: rgb(255,53,127);
}

input[type=range]::-webkit-slider-thumb:active {
  cursor: -webkit-grabbing;
}

input[type=range]::-moz-range-thumb:active {
  cursor: -moz-grabbing;
}

  

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0,-50%,0);
    transform: translate3d(0,-50%,0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0,-50%,0);
    transform: translate3d(0,-50%,0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.colbWater {
  background: url('../img/watershisha-removebg-preview.png') no-repeat;
  background-size:cover;
  width: 198px;
  height: 190px;
}
.colbMilk {
  background: url('../img/milkshisha-removebg-preview.png') no-repeat;
  background-size:cover;
  width: 204px;
  height: 190px;
}
.colbAlk {
  background: url('../img/alcoshisha-removebg-preview.png') no-repeat;
  background-size:cover;
  width: 198px;
  height: 195px;
}
.colbs-header{
    width: 200px;
    text-align: center;
    font-size: 28px;
    font-family: 'Roboto';
}
.wow{
  opacity: 0;
}
    
.border-colbs-header {
  border-bottom: 4px solid rgb(27, 255, 244);
  padding: 2px;
  transition: 0.3s ease-in;
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -ms-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
}
.border-chasha-header {
  border-bottom: 4px solid rgb(27, 255, 244);
  padding: 2px;
  transition: 0.3s ease-in;
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -ms-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
}
@-webkit-keyframes bounceInLeft {
  0% {
     opacity: 0;
     -webkit-transform: translateX(-2000px);
  }
  60% {
     opacity: 1;
     -webkit-transform: translateX(30px);
  }
  80% {
     -webkit-transform: translateX(-10px);
  }
  100% {
     -webkit-transform: translateX(0);
  }
}

@keyframes bounceInLeft {
  0% {
     opacity: 0;
     transform: translateX(-2000px);
  }
  60% {
     opacity: 1;
     transform: translateX(30px);
  }
  80% {
     transform: translateX(-10px);
  }
  100% {
     transform: translateX(0);
  }
}

.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; 
  animation-duration: 2s;
}
.bounceInLeft:nth-of-type(1){
  animation-delay: 0.1s;
}
.bounceInLeft:nth-of-type(2){
  animation-delay: 0.6s;
}
.bounceInLeft:nth-of-type(3){
  animation-delay: 1.5s;
}
.bounceInLeft:nth-of-type(4){
  animation-delay: 2s;
}
.bounceInLeft:nth-of-type(5){
  animation-delay: 2.5s;
}
.bounceInLeft:nth-of-type(6){
  animation-delay: 3s;
}
.bounceInLeft:nth-of-type(7){
  animation-delay: 3.5s;
}
.bounceInLeft:nth-of-type(8){
  animation-delay: 4s;
}
.slider {
  position: relative;
  overflow: hidden;
  max-width: 760px;
  width:65%;
  height: 100%;
  margin-left: 0px;
  margin-right: 50px;

}

/* стили для обёртки, в которой заключены слайды */
.slider__wrapper {
  position: relative;
  overflow: hidden;

  
}

/* стили для контейнера слайдов */
.slider__items {
  display: flex;
  transition: transform 0.6s ease;
}

/* стили для слайдов */
.slider__item {
  flex: 0 0 100%;
  max-width: 100%;
}

/* стили для кнопок "вперед" и "назад" */
.slider__control {
  position: absolute;
  top: 35%;
  display: none;
  align-items: center;
  justify-content: center;
  width: 40px;
  color: #fff;
  text-align: center;
  opacity: 0.5;
  height: 50px;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
}

.slider__control_show {
  display: flex;
 
}

.slider__control:hover,
.slider__control:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}

.slider__control_prev {
  left: 0;
}

.slider__control_next {
  right: 0;
}

.slider__control::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.slider__control_prev::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider__control_next::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

/* стили для индикаторов */
.slider__indicators {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

.slider__indicators li {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px;
  height: 4px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.slider__indicators li.active {
  background-color: #fff;
}



.slider__item_1 {
  background: linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255, 0, 179, 0.937) 100%);
}

.slider__item_2 {
  background: linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255, 0, 179, 0.937) 100%);
}

.slider__item_3 {
  background: linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255, 0, 179, 0.937) 100%);
}

.slider__item_4 {
  background:linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255, 0, 179, 0.937) 100%);
}

.slider__item {
  height: 400px;
  overflow: hidden;
  position: relative;
}

.slider__item_inner {
  position: absolute;
  left: 15%;
  
  right: 15%;
  top: 36px;
  bottom: 36px;
  overflow: hidden;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.slider__item_img {
  flex: 0 0 80px;
}
.slider-img{
  width:140px;
  height: 140px;
object-fit: cover;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}


.slider__item_testimonial {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  text-align: center;

}

@media (min-width: 576px) {
  .slider__item {
    height: 250px;
  }

  .slider__item_inner {
    flex-direction: row;
  }

  .slider__item_testimonial {
    margin-left: 15px;
  }

  .slider__item_img {
    flex: 0 0 150px;
  
  }

  .slider__item_testimonial {
    text-align: left;
  }
}

.slider__item_name {
  font-size: 20px;
  margin-bottom: 8px;
  color: rgba(255, 255, 255, 0.932);
}



.slider__item_text {
  width:100%;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.664);
}

.cl-btn-3 {
  position: absolute;
  font-size:30px;
  margin-top:100px;
  width: 26px;
  height: 26px;
  margin: 40px auto;
  transform: rotate(45deg) scale(2);
  z-index: 10;
}

.cl-btn-3 .top,
.cl-btn-3 .bot {
  display: block;
  background: white;
  color:black;
  opacity: 1;
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
  animation-iteration-count: 1;
}

.cl-btn-3 .top {
  height: 100%;
  width: 2px;
  margin-left: -1px;
  transform: skewY(45deg);
  top: 0;
}

.cl-btn-3 .bot {
  width: 100%;
  height: 2px;
  margin-top: -1px;
  transform: skewX(-45deg);
  left: 0;
}

@-webkit-keyframes top-out {
  from {
      top: 0%;
      height: 100%;
  }
  to {
      top: 200%;
      height: 0%;
  }
}

@keyframes top-out {
  from {
      top: 0%;
      height: 100%;
  }
  to {
      top: 200%;
      height: 0%;
  }
}
@-webkit-keyframes top-in {
  from {
      top: -100%;
      height: 0%;
  }
  to {
      top: 0%;
      height: 100%;
  }
}
@keyframes top-in {
  from {
      top: -100%;
      height: 0%;
  }
  to {
      top: 0%;
      height: 100%;
  }
}
@-webkit-keyframes bot-out {
  from {
      left: 0%;
      width: 100%;
  }
  to {
      left: 200%;
      width: 0%;
  }
}
@keyframes bot-out {
  from {
      left: 0%;
      width: 100%;
  }
  to {
      left: 200%;
      width: 0%;
  }
}
@-webkit-keyframes bot-in {
  from {
      left: -100%;
      width: 0%;
  }
  to {
      left: 0%;
      width: 100%;
  }
}
@keyframes bot-in {
  from {
      left: -100%;
      width: 0%;
  }
  to {
      left: 0%;
      width: 100%;
  }
}
.cl-btn-3:hover {
  cursor: pointer;
}
.cl-btn-3:hover .top {
  animation: top-out 0.25s forwards, top-in 0.25s forwards 0.25s;
}
.cl-btn-3:hover .bot {
  animation: bot-out 0.25s forwards 0.1s, bot-in 0.25s forwards 0.35s;
}
#rc-phone {position: fixed; right: 5px; bottom: 10px; width: 62px; height: 62px; z-index: 1000; margin: 0;}

#rc-phone-form {overflow: hidden}  

#rc-phone.rc-inactive #rc-phone-back {display: block;}
#rc-phone-form {position: absolute; top: 6px; right: 6px; padding: 12px 0; background: #363f43; width: 48px; height: 50px; box-sizing: border-box; border-radius: 25px; -webkit-box-shadow: 0 0 16px rgba(0,0,0,0.45); -moz-box-shadow: 0 0 16px rgba(0,0,0,0.45); box-shadow: 0 0 16px rgba(0,0,0,0.45); }
#rc-phone-icon {position: absolute; cursor: pointer; color: whitesmoke; left: -1px; top: 0; width: 50px; height: 50px; line-height: 50px; text-align: center; font-size: 26px; border-radius: 50%; background: rgba(255, 0, 179, 0.937); z-index: 1; transition: background 0.2s}
#rc-phone-icon:hover {color: whitesmoke; background: rgba(255, 0, 179, 0.937);}


#rc-phone-form-wrap {width: 380px; padding-left: 60px; position: relative; z-index: 10;}
#rc-recall {font-size: 12px; width: 80px; color: whitesmoke; float: left; line-height: 14px; margin-right: 6px;}

#rc-phone-input {float: left; border-radius: 12px; width: 180px; height: 28px; background: whitesmoke url(../images/rus.png) no-repeat 8px 50%; color: #b2b2b2; margin: 0; padding: 0 0 0 25px; border: 1px solid #363f43; box-sizing: border-box; box-shadow: none !important; line-height: 12px;}
#rc-phone-input .error {border: 1px solid #ff3c36;}
#rc-phone-input:focus {color: #4c4c4c;}

#rc-phone-button {float: left; border: 0; color: #363f43; width: 24px; height: 24px; padding: 0; line-height: 24px; text-align: center; font-size: 14px; box-sizing: border-box; background: rgb(238, 238, 238); cursor: pointer; margin: 2px 0 0 9px; border-radius: 50%;}
#rc-phone-button:hover {color: whitesmoke; background: rgba(255, 0, 179, 0.937) url(../images/m-phone-h.png) no-repeat 50% 50%;}
:focus {outline: none;}

#rc-phone-form-close {position: absolute; z-index: 2; top: -3px; left: -3px; width: 18px; height: 18px; box-sizing: border-box; font-size: 12px; line-height: 18px; color: #fff; background: #363f43; border-radius: 50%; cursor: pointer; display: none;}
#rc-phone-form-close:hover {background: red;}
#rc-phone-form-close.closed{height:0;width:0;}
#rc-phone-form:hover #rc-phone-form-close{display:block;}

#myform {
  margin: 50px auto;
  width: 50%;
  display: none;
}

#myform header {
  color: whitesmoke;
  text-align: center;
  font-size: 1.7em;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

#myform .area {
  color: rgba(255, 255, 255, 0.699);
  width: 100%;
  margin-top:20px;
}

#myform label {
  line-height: 35px;
  display: table-header-group;
  font-size: 1.05em;
 
  letter-spacing: 0.5px;
  transition: all 0.3s ease;
  text-align: center;
}

#myform input {
  width: 100%;
  box-sizing: border-box;
  padding: 12px;
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  background: transparent;
  color: whitesmoke;
  display: table-row-group;
  transition: all 0.3s ease;
  font-size: 1.05em;
}

#myform input:focus {
  outline: none !important;
  border-color: rgba(248, 12, 217, 0.932);
}

#myform input:focus + label {
  color: rgba(248, 12, 217, 0.932);
}

#myform .row {
  margin-top:20px;
  width: 100%;
 
  display: table;
}

#myform .col2 {
  display: table;
  width: 48%;
  margin-left:13px;
  float: left;
}

#myform.col2:nth-child(2) {
  float: right;
  display: table;
}

#myform.ckeckarea input[type="checkbox"] {
  display: none;
}

#myform .ckeckarea label {
  position: relative;
  display: inline-block;
  padding: 3px 3px 3px 30px;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
}

#myform .ckeckarea label::before,
#myform .ckeckarea label::after {
  position: absolute;
  content: '';
  -webkit-transition: all .2s;
  transition: all .2s;
}

#myform .ckeckarea label::before {
  top: 50%;
  left: 0;
  width: 14px;
  height: 14px;
  margin-top: -8px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 3px;
}

#myform .ckeckarea label::after {
  opacity: 0;
  top: 50%;
  left: 3px;
  width: 8px;
  height: 4px;
  margin-top: -4px;
  border-left: 2px solid rgba(248, 12, 217, 0.932);
  border-bottom: 2px solid rgba(248, 12, 217, 0.932);
  -webkit-transform: rotate(-45deg) scale(.5);
  transform: rotate(-45deg) scale(.5);
}

#myform .ckeckarea label:hover::before {
  border-color: rgba(248, 12, 217, 0.932);
}

#myform.ckeckarea input[type="radio"]:checked + label::before {
  border-bottom:2px solid rgba(248, 12, 217, 0.932);
  color: rgba(248, 12, 217, 0.932);
}

#myform.ckeckarea input[type="radio"]:checked + label::after {
  opacity: 1;
  color: rgba(248, 12, 217, 0.932);
  -webkit-transform: rotate(-45deg) scale(1);
  transform: rotate(-45deg) scale(1);
}

#myform .ckeckarea input[type="radio"]:checked ~ label {
  color: rgba(248, 12, 217, 0.932);
  border-bottom:2px solid rgba(248, 12, 217, 0.932);
}

#myform .btn {
  width: 50%;
  font-family: 'Open Sans', sans-serif;
  margin-left: 10px;
  transition: all 0.3s ease;
}
#myform .row-place{
  display: flex;
  bottom: 0;
}
#myform .row-place .place{
  width: 50%;
}
#myform .row-button{
  width: 100%;
  height: 80px;
  margin-top:20px;
  font-size:20px;
  display: flex;
  justify-content: space-between;
}
#myform .form-price{
  font-size: 27px;
  color: whitesmoke;
  width: 100%;
  padding-top: 15px;
  text-align: center;
}
#myform .adress{
display: none;
}
.succes-order{
  display: none;
  font-size:40px;
  color:whitesmoke;
  text-align: center;
  margin-top:150px;
}
.succes-order .cl-btn-3{
  position: relative;
}
#myform .btn:hover {
  background: rgba(248, 12, 217, 0.932);
  border-color: rgba(248, 12, 217, 0.932);
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  #myform {
  margin: 50px auto;
  width: 80%;
}
#myform .col2 {
  display: table;
  width: 100%;
  float: left;
  margin-left:10px;
}
  
#myform.ckeckarea label {
  line-height:20px;
}
}

@media screen and (max-width: 600px) {
  #myform {
  margin: 50px auto;
  width: 100%;
}}